<div class="box2">
    <div>
        <span>姓名:</span>
        <input type="text" id="userName" ng-model="student.name"/>
    </div>
    <div>
        <span>年龄:</span>
        <input type="text" id="userAge" ng-model="student.age"/>
    </div>
    <div>
        <span>电话:</span>
        <input type="text" id="userPhone" ng-model="student.phone"/>
    </div>
    <div>
        <span>地址:</span>
        <input type="text" id="userAddress" ng-model="student.address"/>
    </div>
    <input type="submit" value="提交" id="submit" ng-click="add()"/>
</div>